<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
    <link rel="stylesheet" href="edit.css">
</head>
<center>
    <br>
    <br>
    <br>
    <br>
    <br>
<body>
<h1>Update person</h1>
<div th:if="${userUpdateResult.isError()}">
    <p th:text="${userUpdateResult.getErrorMessage()}" style="color: red;"></p>
</div>
<form method="post" th:action="@{/people/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <table>
        <tr><td>Name:</td><td><input type="text" th:field="*{name}"/></td></tr>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

        <tr><td>Password:</td><td><input type="password" th:field="*{password}"/></td></tr>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>

        <tr><td>Email:</td><td><input type="email" th:field="*{email}"/></td></tr>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>

        </td></tr>

        <tr><td colspan="2">
            <div class="submitBotton">
            <input type="submit" value="Update!"/>
            </div>
        </td></tr>

    </table>
</form>

</body>
</center>
</html>